<div fxLayout="row" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div class="center" fxFlex="20">
        <div fxFlexFill fxLayoutAlign="center center">
            <h3>Pico y Placa App</h3>
        </div>
        <form [formGroup]="picoPlacaFormGroup">

            <license-number [formGroup]="picoPlacaFormGroup"></license-number>
            <date [formGroup]="picoPlacaFormGroup"></date>
            <time [formGroup]="picoPlacaFormGroup"></time>

            <result 
                [picoPlacaFormGroup]="picoPlacaFormGroup" 
                [picoPlaca]="picoPlaca" 
                [isPicoPlaca]="isPicoPlaca"
            ></result>

            <br>
            <button mat-raised-button class="field" color="primary" (click)="predict()">Predict</button>
        </form>
    </div>
</div>